.example
  .json
    display none

  .toggle-json
    color #aaa
    font-size 12px
    padding-top 5px
    display inline-block
    cursor pointer

    &:hover
      text-decoration underline

.github-sentence-item
  padding-left 50px
  position relative
  min-height 50px

  .avatar
    position absolute
    left 0
    top 0
    border 1px solid #D0D0D0
    padding 2px

    img
      width 40px
      height 40px