.example .json {
  display: none;
}
.example .toggle-json {
  color: #aaa;
  font-size: 12px;
  padding-top: 5px;
  display: inline-block;
  cursor: pointer;
}
.example .toggle-json:hover {
  text-decoration: underline;
}
.github-sentence-item {
  padding-left: 50px;
  position: relative;
  min-height: 50px;
}
.github-sentence-item .avatar {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #d0d0d0;
  padding: 2px;
}
.github-sentence-item .avatar img {
  width: 40px;
  height: 40px;
}
